<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body style="background-color: black;">
    
<h3 style="color: white; font-size: xx-large;">Esta es la template de <b style="color: blue;">Cursos</b></h3>

<p style="color: lightslategray; font-size: x-large;">Se generó el curso "<b style="color: cyan;">{{nombre}}</b>" de la camada número: "<b style="color: lightcyan;">{{camada}}</b>" </p>

</body>
</html>