<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ul>
{% for profesor in lista_profesores  %}
    
<li>{{profesor.nombre}} {{profesor.apellido}}</li>
<button>
    <a href=" {% url 'EliminarProfesor' profesor.id %} ">Eliminar</a>
</button>


{% endfor %}
</ul>
<br>

<a href="/AppCoder/profesores/">Agregar otro Profesor</a>

</body>
</html>